#btnID{
  width:150px;
  height:50px;
  color: whitesmoke;
  background-color: skyblue;
  border-radius: 15px;
  
  position: absolute;
  left:180px;
  top:350px;
}

#YES{
  width: 150px;
  height: 50px;
  color: whitesmoke;
  background-color: skyblue;
  border-radius: 15px;
  
  position: absolute;
  left:25px;
  top: 350px;
}
#cat{
  position: absolute;
  top: 120px;
  
}

#ney{
  position: absolute;
  left: 180px;
  top: 350px;
}


body {
background-color: #DBF9FC;
}
